In [17]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
# 서울시 열린 데이터 광장
apikey = '4c736b5971616d7937317a416f4a56'

def main():
    df = pd.DataFrame()

    for i in range(20):
        url = f'http://openapi.seoul.go.kr:8088/{apikey}/json/tbLnOpendataRtmsV/{i*1000+1}/{(i+1)*1000}/'
        response = requests.get(url)
        content = response.json()
        con = content['tbLnOpendataRtmsV']['row']
        res = pd.DataFrame(con)
        df = pd.concat([df, res], axis=0)
    
    data = df.reset_index(drop=True)
    data['DEAL_YMD'] = pd.to_datetime(data['DEAL_YMD'],format=("%Y%m%d"))
    data.to_csv('seoul_real_estate.csv',index=False)

if __name__ == "__main__":
    main()

In [20]:
total_df = pd.read_csv('seoul_real_estate.csv')
total_df.tail()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
19995,2023,11140,중구,15000,을지로4가,1.0,대지,0187,0009,을지 웰 라이프,...,31000,32.63,46.09,10.0,NaN,NaN,2019.0,오피스텔,중개거래,서울 서초구
19996,2023,11440,마포구,11000,노고산동,1.0,대지,0020,0075,신촌힐하우스(20-75),...,42000,13.52,13.23,5.0,NaN,NaN,2021.0,연립다세대,중개거래,서울 마포구
19997,2023,11215,광진구,10500,자양동,1.0,대지,0507,0006,이튼타워리버2차,...,119500,84.96,0.00,14.0,NaN,NaN,2006.0,아파트,중개거래,서울 광진구
19998,2023,11470,양천구,10100,신정동,1.0,대지,1317,0000,이펜하우스4단지,...,58750,59.93,0.00,1.0,NaN,NaN,2011.0,아파트,중개거래,서울 양천구
19999,2023,11350,노원구,10600,중계동,1.0,대지,0366,0000,라이프,...,121000,115.65,0.00,4.0,NaN,NaN,1993.0,아파트,중개거래,서울 노원구

In [21]:
total_df['DEAL_YMD'] = pd.to_datetime(total_df['DEAL_YMD'],format="%Y-%m-%d")
total_df['month'] = total_df['DEAL_YMD'].dt.month
total_df['year'] = total_df['DEAL_YMD'].dt.year 

total_df['month'] = total_df['month'].astype('int')
total_df['year'] = total_df['year'].astype('int')

In [22]:
total_df.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM,month,year
0,2024,11530,구로구,10600,고척동,1.0,대지,0328,0000,양우,...,0.00,6.0,NaN,20240316.0,2000.0,아파트,중개거래,서울 구로구,3,2024
1,2024,11380,은평구,10500,구산동,1.0,대지,0211,0002,뉴아름빌(211-2),...,25.00,5.0,NaN,20240315.0,2018.0,연립다세대,중개거래,서울 은평구,3,2024
2,2024,11620,관악구,10100,봉천동,1.0,대지,1574,0001,생모리츠타운,...,30.66,7.0,NaN,NaN,2007.0,오피스텔,중개거래,서울 관악구,3,2024
3,2024,11530,구로구,10200,구로동,1.0,대지,0415,0044,미라벨,...,18.00,2.0,NaN,NaN,2018.0,연립다세대,중개거래,서울 구로구,3,2024
4,2024,11680,강남구,10300,개포동,1.0,대지,1224,0004,예가풍경채3차,...,22.00,3.0,NaN,NaN,2019.0,연립다세대,중개거래,서울 용산구,3,2024

In [23]:
filtered_month = total_df[total_df['month'] == 2]
filtered_month = filtered_month[filtered_month['year'] == 2024]
filtered_month = filtered_month[filtered_month['SGG_NM'] == '용산구']

filtered_month.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM,month,year
1125,2024,11170,용산구,12900,이촌동,NaN,NaN,NaN,NaN,NaN,...,136.0,0.0,NaN,NaN,1990.0,단독다가구,중개거래,서울 강남구,2,2024
1132,2024,11170,용산구,12800,한강로3가,NaN,NaN,NaN,NaN,NaN,...,95.0,0.0,NaN,NaN,1997.0,단독다가구,중개거래,서울 용산구,2,2024
1156,2024,11170,용산구,12900,이촌동,1.0,대지,0404,0000,한가람,...,0.0,17.0,NaN,NaN,1998.0,아파트,중개거래,서울 용산구,2,2024
1178,2024,11170,용산구,13100,한남동,1.0,대지,0810,0000,한남더힐,...,0.0,11.0,NaN,NaN,2011.0,아파트,중개거래,서울 용산구,2,2024
1186,2024,11170,용산구,11900,효창동,1.0,대지,0005,0001,태원팰리스,...,0.0,4.0,NaN,NaN,2007.0,아파트,중개거래,서울 용산구,2,2024

In [27]:
total_df[total_df['OBJ_AMT'] == total_df['OBJ_AMT'].max()]

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM,month,year
18768,2023,11680,강남구,10800,논현동,NaN,NaN,NaN,NaN,NaN,...,592.0,0.0,NaN,NaN,1978.0,단독다가구,중개거래,서울 서초구,11,2023

In [4]:
for i in range(1,11):
    print(1+((i-1)*1000), i*1000)

1 1000
1001 2000
2001 3000
3001 4000
4001 5000
5001 6000
6001 7000
7001 8000
8001 9000
9001 10000

In [3]:
for i in range(10):
    print(i * 1000+1, (i+1)*1000)

1 1000
1001 2000
2001 3000
3001 4000
4001 5000
5001 6000
6001 7000
7001 8000
8001 9000
9001 10000