In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt


total_df = pd.read_csv('seoul_real_estate.csv')

total_df['DEAL_YMD'] = pd.to_datetime(total_df['DEAL_YMD'],format="%Y-%m-%d")
total_df['month'] = total_df['DEAL_YMD'].dt.month
total_df['year'] = total_df['DEAL_YMD'].dt.year 

total_df['month'] = total_df['month'].astype('int')
total_df['year'] = total_df['year'].astype('int')

total_df = total_df[total_df['HOUSE_TYPE'] == '아파트']

In [2]:
month_dic = {}
for i in range(1,13):
    month_dic[str(i)+'월'] = i

filtered_month = total_df[total_df['month'] == month_dic['12월']]
filtered_month = filtered_month[filtered_month['year'] == 2023]
filtered_month = filtered_month[filtered_month['SGG_NM'] == '구로구']

filtered_month

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM,month,year
10617,2024,11530,구로구,10800,오류동,1.0,대지,0339,0000,동부(105동~106동),...,0.0,10.0,NaN,NaN,1999.0,아파트,중개거래,서울 구로구,12,2023
10724,2024,11530,구로구,11200,항동,1.0,대지,0242,0000,하버라인3단지,...,0.0,8.0,NaN,NaN,2019.0,아파트,중개거래,서울 구로구,12,2023
10870,2024,11530,구로구,10800,오류동,1.0,대지,0009,0231,오류동삼전솔하임,...,0.0,6.0,NaN,NaN,2020.0,아파트,직거래,NaN,12,2023
10906,2024,11530,구로구,10600,고척동,1.0,대지,0339,0000,고척파크푸르지오,...,0.0,10.0,NaN,NaN,2009.0,아파트,중개거래,서울 구로구,12,2023
10985,2023,11530,구로구,10200,구로동,1.0,대지,0106,0002,대림역포스큐,...,0.0,15.0,NaN,NaN,2015.0,아파트,직거래,NaN,12,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15261,2023,11530,구로구,10800,오류동,1.0,대지,0340,0000,삼천리,...,0.0,21.0,NaN,NaN,1998.0,아파트,중개거래,서울 구로구,12,2023
15290,2023,11530,구로구,11200,항동,3.0,블럭,0238,0000,하버라인4단지,...,0.0,3.0,NaN,NaN,2019.0,아파트,직거래,NaN,12,2023
15336,2023,11530,구로구,10200,구로동,1.0,대지,1257,0000,럭키,...,0.0,7.0,NaN,NaN,1992.0,아파트,중개거래,서울 구로구,12,2023
15406,2023,11530,구로구,10200,구로동,1.0,대지,1265,0000,구로두산,...,0.0,18.0,NaN,NaN,1998.0,아파트,중개거래,서울 구로구,12,2023
15419,2023,11530,구로구,10600,고척동,1.0,대지,0331,0000,삼익(2단지),...,0.0,6.0,NaN,NaN,2001.0,아파트,직거래,NaN,12,2023

In [8]:
mins_3 = filtered_month[['SGG_NM','BJDONG_NM','BLDG_NM','BLDG_AREA','OBJ_AMT']].sort_values(by='OBJ_AMT').head(3)
maxs_3 = filtered_month[['SGG_NM','BJDONG_NM','BLDG_NM','BLDG_AREA','OBJ_AMT']].sort_values(by='OBJ_AMT').tail(3)

      SGG_NM BJDONG_NM    BLDG_NM  BLDG_AREA  OBJ_AMT
14759    구로구      신도림동        대림2     134.99   128800
12081    구로구      신도림동  대림e-편한세상4      84.78   137000
13970    구로구      신도림동  대림e-편한세상4     152.07   165000

In [21]:
total_df.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11530,구로구,10600,고척동,1.0,대지,0328,0000,양우,...,43500,59.94,0.00,6.0,NaN,20240316.0,2000.0,아파트,중개거래,서울 구로구
1,2024,11380,은평구,10500,구산동,1.0,대지,0211,0002,뉴아름빌(211-2),...,25000,42.40,25.00,5.0,NaN,20240315.0,2018.0,연립다세대,중개거래,서울 은평구
2,2024,11620,관악구,10100,봉천동,1.0,대지,1574,0001,생모리츠타운,...,11700,22.24,30.66,7.0,NaN,NaN,2007.0,오피스텔,중개거래,서울 관악구
3,2024,11530,구로구,10200,구로동,1.0,대지,0415,0044,미라벨,...,23000,29.39,18.00,2.0,NaN,NaN,2018.0,연립다세대,중개거래,서울 구로구
4,2024,11680,강남구,10300,개포동,1.0,대지,1224,0004,예가풍경채3차,...,61000,37.43,22.00,3.0,NaN,NaN,2019.0,연립다세대,중개거래,서울 용산구

In [33]:
total_df = pd.read_csv('seoul_real_estate.csv')
total_df['DEAL_YMD'] = pd.to_datetime(total_df['DEAL_YMD'],format="%Y-%m-%d")

total_df['month'] = total_df['DEAL_YMD'].dt.month
total_df['year'] = total_df['DEAL_YMD'].dt.year 

total_df['year+month'] = total_df['year'].astype('str') + '.' + total_df['month'].astype('str')

total_df.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM,month,year,year+month
0,2024,11530,구로구,10600,고척동,1.0,대지,0328,0000,양우,...,6.0,NaN,20240316.0,2000.0,아파트,중개거래,서울 구로구,3,2024,2024.3
1,2024,11380,은평구,10500,구산동,1.0,대지,0211,0002,뉴아름빌(211-2),...,5.0,NaN,20240315.0,2018.0,연립다세대,중개거래,서울 은평구,3,2024,2024.3
2,2024,11620,관악구,10100,봉천동,1.0,대지,1574,0001,생모리츠타운,...,7.0,NaN,NaN,2007.0,오피스텔,중개거래,서울 관악구,3,2024,2024.3
3,2024,11530,구로구,10200,구로동,1.0,대지,0415,0044,미라벨,...,2.0,NaN,NaN,2018.0,연립다세대,중개거래,서울 구로구,3,2024,2024.3
4,2024,11680,강남구,10300,개포동,1.0,대지,1224,0004,예가풍경채3차,...,3.0,NaN,NaN,2019.0,연립다세대,중개거래,서울 용산구,3,2024,2024.3

In [45]:
filtered_df = total_df[total_df['SGG_NM'] == '구로구']
df1 = filtered_df[filtered_df['HOUSE_TYPE'] == '아파트'].groupby('year+month').count().reset_index()
df1[['year+month','ACC_YEAR']]

  year+month  ACC_YEAR
0    2023.11        90
1    2023.12        87
2     2024.1       134
3     2024.2       104
4     2024.3        36

In [34]:
total_df.groupby('year+month').count()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM,month,year
year+month,,,,,,,,,,,,,,,,,,,,,
2023.11,4578,4578,4578,4578,4578,4355,4355,4355,4355,4358,...,4578,4578,21,204,4557,4578,4578,3525,4578,4578
2023.12,4805,4805,4805,4805,4805,4603,4603,4603,4603,4605,...,4805,4805,37,227,4772,4805,4805,3671,4805,4805
2024.1,5300,5300,5299,5300,5300,5105,5105,5105,5105,5106,...,5300,5300,35,165,5283,5300,5300,4463,5300,5300
2024.2,4270,4270,4270,4270,4270,4127,4127,4127,4127,4127,...,4270,4270,12,124,4260,4270,4270,3726,4270,4270
2024.3,1047,1047,1047,1047,1047,1012,1012,1012,1012,1012,...,1047,1047,2,15,1043,1047,1047,857,1047,1047